/* a11y */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* layout */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
  font-family: 'SUIT', sans-serif;
}

section {
  position: relative;
  width: 518px;
  padding: 100px;
  background-color: #fff;
  border: 1px solid rgba(0 0 0 / 0.1);

  h2 {
    position: absolute;
    top: -35px;
    left: 0;
    padding: 5px;
    border: 1px solid rgba(0 0 0 / 0.1);
    border-radius: 3px;
    font-size: 12px;
    background-color: #fff;
  }
}

/* avatars list */
.avatar-list {
  display: flow-root;
  margin: 0 auto;
  width: 316px;

  li {
    display: inline-block;
    position: relative;
    float: left;
    width: 64px;
    height: 64px;

    &:not(:nth-child(1)):not(:nth-child(5)) {
      margin-left: 20px;
    }

    &:nth-child(-n + 4) {
      margin-bottom: 20px;
    }
  }
}

/* avater component */
figure {
  overflow: hidden;
  border-radius: 50%;

  .status-info {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #dbdbdb;

    &.is-active {
      background-color: #4cfe88;
    }
  }
}
